@keyframes anim-menu-item-before {
  0% {
    width: 0;
  }

  100% {
    width: 110%;
  }
}

@keyframes anim-menu-item-after {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes anim-menu {
  0% {
    transform: translate(-10rem) scale(0);
  }

  50% {
    transform: translate(-5rem) scale(1);
  }

  50% {
    transform: translate(0) scale(1);
  }
}
