.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 9999;
  box-shadow: 3px 3px 15px rgba(#000000, 0.1);

  background-color: $color-white;

  &__nav {
    .navbar-toggler {
      order: 2;
    }

    &:last-child {
      order: 1;
    }
  }
  .navbar {
    .navbar-brand img {
      height: 2.5rem;

      @include media-queries(atMedium) {
        height: 3rem;
      }

      @include media-queries(atMediumLarge) {
        height: 4rem;
      }
    }
    .nav-item {
      margin-right: 3rem;

      a.nav-link {
        color: $color-sub;
        position: relative;

        &::before {
          content: '';
          display: none;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 3px;

          @include media-queries(991px) {
            display: block;
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          display: none;
          width: 0%;
          height: 2px;

          @include media-queries(991px) {
            display: block;
          }
        }

        &.active::before,
        &.active::after {
          background: $color-sub;
        }

        &.active::before {
          width: 110%;
        }

        &.active::after {
          width: 70%;
        }

        &:hover::before,
        &::after {
          background: $color-main;
        }

        &:hover::before {
          animation: anim-menu-item-before 1s forwards alternate;
        }

        &hover::after {
          animation: anim-menu-item-after 1s forwards alternate;
        }
      }
    }
  }

  .navbar-light .navbar-toggler {
    width: 3.5rem;
    height: 3.5rem;
    color: $color-sub;
    border: 2px solid $color-main;
    border-radius: 50%;
  }

  .navbar-light .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-collapse {
    animation: anim-menu 2s forwards;
  }

  .navbar-collapse.show {
    position: fixed;
    top: 0;
    left: 0;
    background: $color-white;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ul {
      margin-left: -4rem;
      li {
        margin: 2rem;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid $color-main;
      }
    }
  }
}
