@mixin top-border {
  content: '';
  display: block;
  height: 3px;
  width: 4rem;
  position: absolute;
  top: -0.5rem;
  background-color: $color-main;
}

@mixin list-style {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background: $color-sub;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  top: 0.5rem;
}

/*_______________________________________
Media Queries (Mobile-first Approach):
    0-400px: Default
    (min-width: 480px) - atSmall
    (min-width: 600px) - atMedium
    (min-width: 900px) - atMediumLarge
    (min-width: 1200px) - atLarge
    (min-width: 1920px) - atLarger
_______________________________________*/
@mixin media-queries($breakpoints) {
  @if $breakpoints==atSmall {
    @media only screen and (min-width: 480px) {
      @content;
    }
  } @else if $breakpoints==atMedium {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $breakpoints==atMediumLarge {
    @media only screen and (min-width: 990px) {
      @content;
    }
  } @else if $breakpoints==atLarge {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoints==atLarger {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $breakpoints) {
      @content;
    }
  }
}
