.thirdeye {
  .thirdeyebox {
    width: 100%;
    max-width: 35rem;

    &__details {
      h3 {
        position: relative;
        &::before {
          @include top-border;
        }
      }
    }
  }

  &__statistics {
    background: $color-light;

    .statisticsbox {
      &__meta {
        line-height: 1.3;
        font-weight: 500;
        font-size: 1.3rem;
        width: 100%;

        @include media-queries(atLarge) {
          max-width: 10rem;
        }

        h3 {
          line-height: 1;
          font-size: 2rem;
          font-weight: 700;
          font-family: $heading-font;
          margin-bottom: 0.8rem;

          @include media-queries(atMedium) {
            font-size: 2.5rem;
          }
          @include media-queries(atLarge) {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__mockup {
    flex-basis: 50%;
  }

  &__features {
    .featurebox {
      flex-basis: 100%;
      background-color: $color-light;
      border: $generic-border;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      box-shadow: $generic-shadow;

      @include media-queries(atMediumLarge) {
        flex-basis: 45%;
      }

      h5 {
        font-size: 1.1rem;
        margin-top: 0.5rem;
      }
    }
  }
}
