$color-main: #5bbc2e;
$color-main-dark: #0b7c05;
$color-sub: #182f59;
$color-sub-light: #022e75;
$color-dark: #575757;
$color-bg: #f4f4f4;
$color-white: #fff;
$color-black:   #000;
$generic-border: 2px solid $color-sub;