$color-main: #5bbc2e;
$color-main-dark: #0b7c05;
$color-sub: #182f59;
$color-sub-light: #022e75;
$color-dark: #575757;
$color-bg: #f4f4f4;
$color-light: #f7f7fd;
$color-white: #fff;
$color-black: #000;
$generic-font: 'Myriad Pro', Arial, Helvetica, sans-serif;
$heading-font: 'Roboto Slab', Arial, Helvetica, sans-serif;
$generic-border: 2px solid $color-sub;
$generic-shadow: 2px 2px 10px 1px rgba($color-black, 0.15);
