/*_______________________________________
Media Queries (Mobile-first Approach):
    0-400px: Default
    (min-width: 480px) - atSmall
    (min-width: 600px) - atMedium
    (min-width: 900px) - atMediumLarge
    (min-width: 1200px) - atLarge
    (min-width: 1920px) - atLarger
_______________________________________*/
html {
	font-size: 85%;
}

@media only screen and (min-width: 600px) {
	html {
		font-size: 100%;
	}
}

body {
	color: #182f59;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.btn {
	border-radius: 0.5rem;
	padding: 0.5rem 2rem;
}

.btn.btn-dark {
	background-color: #182f59;
	border-color: #182f59;
}

.btn.btn-dark:focus {
	outline: none;
	box-shadow: none;
}

.btn.btn-dark:hover {
	background-color: #142749;
}

.btn.btn-outline-dark {
	color: #182f59;
	border-color: #182f59;
}

.btn.btn-outline-dark:hover {
	color: #fff;
	background: #182f59;
}

.btn.btn-primary {
	background-color: #5bbc2e;
	border-color: #5bbc2e;
}

.btn.btn-primary:focus {
	outline: none;
	box-shadow: none;
}

.btn.btn-primary:hover {
	background-color: #55b02b;
}

.btn.btn-light {
	color: #182f59;
}

.btn.btn-light:hover {
	color: #182f59;
}

.btn.btn-lg {
	padding: 0.5rem 5rem;
	font-weight: 500;
	text-transform: uppercase;
}

.btn.btn-pill {
	border-radius: 10rem;
}

.btn > img {
	display: block;
}

.splide__arrows {
	position: absolute;
	bottom: -3rem;
	left: calc(50% - 1rem);
	transform: translateX(-50%);
}

.splide__arrow {
	background: transparent;
}

.splide__arrow--next {
	left: 1.5rem;
}

.splide__arrow--prev {
	left: -1.5rem;
}

.splide__pagination {
	display: none;
}

@keyframes anim-menu-item-before {
	0% {
		width: 0;
	}
	100% {
		width: 110%;
	}
}

@keyframes anim-menu-item-after {
	0% {
		width: 0;
	}
	100% {
		width: 70%;
	}
}

@keyframes anim-menu {
	0% {
		transform: translate(-10rem) scale(0);
	}
	50% {
		transform: translate(-5rem) scale(1);
	}
	50% {
		transform: translate(0) scale(1);
	}
}

.text-main {
	font-weight: 500;
	font-size: 1.1rem;
	color: #5bbc2e;
}

.section {
	padding-top: 4rem;
}

.section__header {
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: 62rem;
	margin: 0 auto;
}

.section__header::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5rem;
	height: 5px;
	background-color: #182f59;
}

@media only screen and (min-width: 990px) {
	.section__header::before {
		width: 7rem;
	}
}

.section__title {
	font-size: 1.65rem;
	font-weight: 500;
	text-transform: uppercase;
}

@media only screen and (min-width: 990px) {
	.section__title {
		font-size: 2rem;
	}
}

.section__subtitle {
	font-weight: 400;
}

.section--sub .section__title {
	text-transform: capitalize;
}

.header {
	top: 0;
	left: 0;
	position: sticky;
	z-index: 9999;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.header__nav .navbar-toggler {
	order: 2;
}

.header__nav:last-child {
	order: 1;
}

.header .navbar .navbar-brand img {
	height: 2.5rem;
}

@media only screen and (min-width: 600px) {
	.header .navbar .navbar-brand img {
		height: 3rem;
	}
}

@media only screen and (min-width: 990px) {
	.header .navbar .navbar-brand img {
		height: 4rem;
	}
}

.header .navbar .nav-item {
	margin-right: 3rem;
}

.header .navbar .nav-item a.nav-link {
	color: #182f59;
	position: relative;
}

.header .navbar .nav-item a.nav-link::before {
	content: '';
	display: none;
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: 3px;
}

@media only screen and (min-width: 991px) {
	.header .navbar .nav-item a.nav-link::before {
		display: block;
	}
}

.header .navbar .nav-item a.nav-link::after {
	content: '';
	position: absolute;
	bottom: -5px;
	display: none;
	width: 0%;
	height: 2px;
}

@media only screen and (min-width: 991px) {
	.header .navbar .nav-item a.nav-link::after {
		display: block;
	}
}

.header .navbar .nav-item a.nav-link.active::before, .header .navbar .nav-item a.nav-link.active::after {
	background: #182f59;
}

.header .navbar .nav-item a.nav-link.active::before {
	width: 110%;
}

.header .navbar .nav-item a.nav-link.active::after {
	width: 70%;
}

.header .navbar .nav-item a.nav-link:hover::before, .header .navbar .nav-item a.nav-link::after {
	background: #5bbc2e;
}

.header .navbar .nav-item a.nav-link:hover::before {
	animation: anim-menu-item-before 1s forwards alternate;
}

.header .navbar .nav-item a.nav-linkhover::after {
	animation: anim-menu-item-after 1s forwards alternate;
}

.header .navbar-light .navbar-toggler {
	width: 3.5rem;
	height: 3.5rem;
	color: #182f59;
	border: 2px solid #5bbc2e;
	border-radius: 50%;
}

.header .navbar-light .navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.header .navbar-collapse {
	animation: anim-menu 2s forwards;
}

.header .navbar-collapse.show {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header .navbar-collapse.show ul {
	margin-left: -4rem;
}

.header .navbar-collapse.show ul li {
	margin: 2rem;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #5bbc2e;
}

.hero {
	width: 100%;
	height: 40.625rem;
	position: relative;
}

.hero .hero__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero .hero__box {
	width: 100%;
	padding: 0 2rem;
	max-width: 80rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

@media only screen and (min-width: 990px) {
	.hero .hero__box {
		text-align: center;
	}
}

.hero .hero__title {
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.8rem;
}

@media only screen and (min-width: 990px) {
	.hero .hero__title {
		font-size: 2.5rem;
	}
}

.hero .hero__subtitle {
	font-size: 1rem;
	line-height: 1.4;
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 990px) {
	.hero .hero__subtitle {
		line-height: 1.8;
		font-size: 1.2rem;
	}
}

.hero .hero__form {
	width: 100%;
	max-width: 40rem;
	margin: auto;
	text-align: center;
}

.hero .hero__form label {
	position: absolute;
	left: -9999px;
}

.hero .hero__form input.form-control {
	padding: 0.8rem 2rem;
	font-size: 1.2rem;
	border-radius: 0;
}

.hero .hero__form input.form-control:focus, .hero .hero__form input.form-control:active {
	box-shadow: none;
}

.clients {
	background-color: #f7f7fd;
}

.clients > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fullscan > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fullscan__details {
	margin-right: 2rem;
}

.fullscan__details h3 {
	font-weight: 700;
}

.fullscan__details p {
	font-size: 1.3rem;
	font-weight: 500;
}

.fullscan__list {
	list-style: none;
}

.fullscan__list li {
	font-size: 1.2rem;
	position: relative;
	margin-bottom: 1rem;
}

.fullscan__list li::before {
	content: '';
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	background: #182f59;
	border-radius: 50%;
	position: absolute;
	left: -2rem;
	top: 0.5rem;
}

.thirdeye .thirdeyebox {
	width: 100%;
	max-width: 35rem;
}

.thirdeye .thirdeyebox__details h3 {
	position: relative;
}

.thirdeye .thirdeyebox__details h3::before {
	content: '';
	display: block;
	height: 3px;
	width: 4rem;
	position: absolute;
	top: -0.5rem;
	background-color: #5bbc2e;
}

.thirdeye__statistics {
	background: #f7f7fd;
}

.thirdeye__statistics .statisticsbox__meta {
	line-height: 1.3;
	font-weight: 500;
	font-size: 1.3rem;
	width: 100%;
}

@media only screen and (min-width: 1200px) {
	.thirdeye__statistics .statisticsbox__meta {
		max-width: 10rem;
	}
}

.thirdeye__statistics .statisticsbox__meta h3 {
	line-height: 1;
	font-size: 2rem;
	font-weight: 700;
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
	margin-bottom: 0.8rem;
}

@media only screen and (min-width: 600px) {
	.thirdeye__statistics .statisticsbox__meta h3 {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 1200px) {
	.thirdeye__statistics .statisticsbox__meta h3 {
		font-size: 3rem;
	}
}

.thirdeye__mockup {
	flex-basis: 50%;
}

.thirdeye__features .featurebox {
	flex-basis: 100%;
	background-color: #f7f7fd;
	border: 2px solid #182f59;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 3rem;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 990px) {
	.thirdeye__features .featurebox {
		flex-basis: 45%;
	}
}

.thirdeye__features .featurebox h5 {
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.testimonials {
	margin-bottom: 2rem;
	position: relative;
}

.testimonials .testimonial {
	padding-bottom: 9.5rem;
	position: relative;
}

.testimonials .testimonial__quotes {
	background: #f7f7fd;
	padding: 3rem;
	padding-bottom: 5rem;
	border: 2px solid #f4f4f4;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
	line-height: 2;
}

.testimonials .testimonial__author {
	position: absolute;
	left: 50%;
	bottom: 0rem;
	transform: translateX(-50%);
}

.testimonials .testimonial__author img {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
}

.testimonials .testimonial__author h3 {
	margin-top: 1.5rem;
	position: relative;
}

.testimonials .testimonial__author h3::after {
	content: '';
	display: block;
	height: 3px;
	width: 4rem;
	position: absolute;
	top: -0.5rem;
	background-color: #5bbc2e;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.pricing {
	position: relative;
}

.pricing ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pricing ul li {
	padding: 1rem;
}

.pricing__features {
	background: #f7f7fd;
	position: absolute;
	width: 13rem;
	padding: 0;
	margin: 0;
	top: 10rem;
}

.pricing__features li {
	font-weight: 500;
	text-transform: uppercase;
}

.pricing__features li:not(:last-child) {
	border-bottom: 1.5px solid #182f59;
}

.pricing__slide {
	margin-left: 9rem;
}

.pricing .pricebox {
	border: 1.5px solid #182f59;
	border-top: 0.5rem solid #182f59;
	padding: 1rem;
	text-align: center;
}

.pricing .pricebox__header h3 {
	text-transform: uppercase;
	font-size: 1.6rem;
}

.pricing .pricebox--custom {
	height: 100%;
}

.pricing .pricebox--custom h4 {
	font-size: 1.3rem;
	color: #575757;
}

.pricing .pricebox--custom p {
	text-align: left;
}

.pricing .pricebox--custom ul {
	text-align: left;
}

.pricing .pricebox--custom ul li {
	padding: 0;
	margin-left: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	position: relative;
}

.pricing .pricebox--custom ul li::before {
	content: '';
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	background: #182f59;
	border-radius: 50%;
	position: absolute;
	left: -2rem;
	top: 0.5rem;
	left: -0.5rem;
	top: 5px;
}

.pricing .splide__arrows {
	right: 3.5rem;
	left: initial;
	transform: translateX(0);
}

@media only screen and (min-width: 1200px) {
	.pricing .splide__arrows {
		display: none;
	}
}

.call2action {
	background: #182f59;
	color: #fff;
}

.call2action img {
	width: 80%;
}

@media only screen and (min-width: 768px) {
	.call2action img {
		width: 100%;
	}
}

.call2action .section__header::before {
	background: #fff;
}

.call2action .btn {
	text-transform: none;
}

.resources {
	margin-bottom: 7rem;
}

@media only screen and (min-width: 990px) {
	.resources {
		margin-bottom: 5rem;
	}
}

@media only screen and (min-width: 990px) {
	.resources .splide__arrows {
		display: none;
	}
}

.resources .resource__header {
	text-align: center;
	margin-bottom: 2.5rem;
	position: relative;
}

.resources .resource__header::after {
	content: '';
	display: block;
	height: 3px;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -1rem;
	background-color: #182f59;
}

.resources .resource__post {
	background: #f7f7fd;
	overflow: hidden;
	border-radius: 0.5rem;
}

.resources .resource__post img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
	object-position: center;
}

.footer {
	background: #182f59;
	color: #fff;
	text-transform: uppercase;
}

.footer .menu__header {
	font-size: 1.5rem;
	border-bottom: 3px solid #fff;
	padding-bottom: 0.8rem;
	margin-bottom: 1.75rem;
}

.footer .menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .menu__list li a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.footer .menu__list li a:hover {
	color: #5bbc2e;
}

.footer .menu__list li:not(:last-child) {
	margin-bottom: 1rem;
}

.footer .social-links {
	list-style: none;
	gap: 1.5rem;
	padding: 0;
}

.footer .social-links img {
	width: 2.8rem;
	height: 2.8rem;
}

@media only screen and (min-width: 990px) {
	.footer .social-links img {
		width: 3.5rem;
		height: 3.5rem;
	}
}

.footer__bottom {
	color: #182f59;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: none;
	background-color: #fff;
}

.footer__bottom p {
	padding: 0;
	margin: 0;
}

.footer .accordion,
.footer .accordion-item,
.footer .accordion-body,
.footer .accordion-header,
.footer .accordion-button {
	background: transparent !important;
}

.footer .accordion-button {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.5rem;
	border: none;
}

.footer .accordion-button:focus,
.footer .accordion-button:active {
	outline: none;
	box-shadow: none;
}

.footer .accordion-button::after {
	filter: brightness(0) invert(1);
}

.footer .accordion-item {
	border: none;
	border-bottom: 2px solid #5bbc2e;
}

.footer .accordion-button:not(.collapsed) {
	box-shadow: none;
}

/*# sourceMappingURL=app.css.map */